<%= form_for @recipe do |f| %>
  <h1>Title: <%= f.text_field :title %></h1><br>

  <h3>Ingredients: <%= f.fields_for :ingredients do |ingred| %></h3><br>
    <%= ingred.label :name %>
    <%= ingred.text_field :name %><br>

    <%= ingred.label :quantity %>
    <%= ingred.text_field :quantity %><br>
  <% end %>

  <%= f.submit %>
<% end %>
